*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body{
    font-family: "Poppins", serif;
    font-weight: 300;
}
.section1{
    
    background-image: url(imgs/background.jpg);
    background-size: cover;
}
.bande-orange{
    background-color: orange;
    height: 80px;
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    top: 30px;
} 
.section1 .bande-orange .bande{
    display: flex;
    text-align: center;
    padding-top: 20px;
    font-size: 1.2 rem;
    /* width: 150px; */
}
.section1 .button-orange button{
    background-color: orange;
    color:#fff;
    position: relative;
    float: right;
    top: 80px;
    right: 250px;
    font-size: 1.1rem;
    padding:15px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    border: none;
}
.section1 .bande i{
    color: #fff;
    font-size: 20px;
}
.section1 .bande-orange .bande span{
   color: #fff;
}
.glob{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.glob .carre-blanc{
    background-color: #fff;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 250px;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: auto;
    gap: 30px;
    padding-top: 110px;
    padding-bottom: 20px;
    text-align: center;
}
.glob .carre-blanc .nom h1{
    font-size: 1.9rem;
    color: rgb(54, 52, 52);
}
.glob .carre-blanc .information p{
    color: #000;
}
.glob .carre-blanc .nom p{
    font-size: 1.4rem;
    color: orange;  
}
.section1 .carre-blanc .social-media{
    display: flex;
    gap: 20px;
}
.section1 .carre-blanc .social-media i{
    display: flex;
    font-size: 25px;
    color: rgb(104, 81, 128);
    transition: 0.6;
}
.section1 .carre-blanc .social-media i:hover{
    color: orange;
}
.section1 .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: auto;
}
.img img{
    position: relative;
    top: -220px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.section2{
    padding-bottom: 10px;
}
.section2 .place-gauche{
    margin-top: 200px;
    margin-left: 250px;
}
.section2 .place-gauche h1{
    color: rgb(69, 68, 68);
}
.section2 .place-gauche p{
    color: rgb(99, 98, 98);
}
.bar{
    background-color: orange;
    width: 70px;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.section2 .liens ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10px;
}
.section2 .liens{
    margin-top: -10px;
    margin-bottom: 60px;
}
.section2 .liens .all{
    color: orange;
}
.section2 .liens a{
    text-decoration: none;
    color: rgb(119, 118, 118);
    font-weight: bold;
    transition: 0.6;
}
    .section2 .liens a:hover{
color: orange
}
.section2 .mes-images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 400px;
    grid-gap: 15px;
}

.photo1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url("imgs/img1.jpg");
    background-size: cover;
}
.photo2{
    grid-column: 3/5;
    grid-row: 1/3;
    background-image: url("imgs/img2.jpg");
    background-size: cover;
}
.photo3{
    grid-column: 5/7;
    grid-row: 1/2;
    background-image: url("imgs/img3.jpg");
    background-size: cover;
}
.photo4{
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url("imgs/img4-1.jpg");
    background-size: cover;
}
.photo5{
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url("imgs/img4-2.jpg");
    background-size: cover;
}
.photo6{
    grid-column: 5/7;
    grid-row: 2/3;
    background-image: url("imgs/img5.jpg");
    background-size: cover;
}
.photo7{
    grid-column: 1/3;
    grid-row: 3/5;
    background-image: url("imgs/img6.jpg");
    background-size: cover;
}
.photo8{
    grid-column: 3/5;
    grid-row: 3/5;
    background-image: url("imgs/img7.jpg");
    background-size: cover;
}
.photo9{
    grid-column: 5/7;
    grid-row: 3/4;
    background-image: url("imgs/img8.jpg");
    background-size: cover;
}
.photo10{
    grid-column: 5/6;
    grid-row: 4/5;
    background-image: url("imgs/img9.jpg");
    background-size: cover;
}
.photo11{
    grid-column: 6/7;
    grid-row: 4/5;
    background-image: url("imgs/img10.jpg");
    background-size: cover;
}

.section3 .place-gauche{
    margin-top: 100px;
    margin-left: 250px;
}
.section3 .place-gauche h1{
    color: rgb(69, 68, 68);
}
.section3 .place-gauche p{
    color: rgb(99, 98, 98);
}
.section3{
   padding-top: 10px;
   padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.section3 .partie-haute .text{
    
    margin-top: -6%;
    text-align: left;
    margin-left: 30%;
}
.section3 .partie-haute .text p{
    color: #28023D;
}
.all{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.all .progress{
    position: relative;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: #999999 linear-gradient(to right, transparent 50%, var(--clr) 0);
}
.all .progress h3{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    z-index: 1;
    font-weight: 500;
}
.all .progress h4{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    color: #999999;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Poppins' sans-serif;
    text-align: center;
}
.all .progress::before{
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}
.all .progress::after{
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background: #fff;
}

.all .progress::before{
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}
.section4{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #28023D;
}
.section4 .place-gauche{
    padding-top: 120px;
    margin-left: 250px; 
}
.section4 .place-droite{
     margin-top: -7%;
    margin-bottom: 5%;
    margin-left: 35%; 
}
.section4 .place-gauche h1{
    color: white;
    font-size: 1.9rem;
}
.section4 .place-gauche p{
    color: rgb(99, 98, 98);
    font-weight: bold;
}
 .section4 .place-droite h2, p, li{
    color: white;
} 
.section4 .place-droite h3{
    color: rgb(217, 104, 5);
}
.section5 {
     padding-top: 10px;
   padding-bottom: 10px;
   
   justify-content: center;
}
 .section5 .place-gauche{
    margin-top: 100px;
    margin-left: 250px;
} 

.section5 .place-gauche h1{
    color: black ;
}
.section5  .place-gauche p{
    color: grey;
}
.section5 .text-plus-bar{
    display: flex;
     margin-left: 35%; 
     margin-top: -7%;
}
.timeline{
    width: 2px;
    height: 775px;
    align-items: center;
    background-color: rgb(226, 230, 231);
    margin: 10px;
  }
  .timeline-object-1 {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background-color:  #e6f2cb;
    left: -18px;
    top: -5px; 
  }
  .timeline-object-1 .haut {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: orange;
  }
  .timeline-object-2 {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background-color: #e6f2cb;
    left: -18px;
    top: 230px;
  }

  .timeline-object-2 .millieu {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: orange;
  }
  .timeline-object-3 {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background-color: #E3F2CB;
    left: -18px;
    top: 455px;
  }
  .timeline-object-3 .bas {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: orange;
  }
  /* .course{
    margin-top: -30px;
  } */
.academy{
    font-size: 16px;
    color: #999999;
    font-weight: 700;
}
.edu-inline{
    margin-top: 0;
    width: 100%;
    height: 200px;
    margin-left: 5%;
}
.edu-inline h4{
    font-size: 25px;
    font-weight: 700;
    color: #000;
}
.edu-inline h5{
    font-size: 17px;
    color: orange;
}
.edu-inline p{
    color: #cdc4c4;
    font-weight: 500;
}
.edu-inline .para p{
    font-family: arial;
    font-size: 18px;
    margin-top: 3%;
    color: #999999;
}

.course, .valide{
    margin-top: 4%;
}
.course{
    margin-top: 50px;
    margin-bottom:15px ;
}
footer{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 1;
    background-image: url("https://preview.colorlib.com/theme/cvportfolio/images/slider-2-1920x600.jpg");
    opacity: 5;
}
footer .partie-jaune{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
footer .partie-jaune .inf{
    display: flex;
    margin-top: 45px;
}
footer .partie-jaune .inf h2{
    color: white;
    font-size:70px ;
}
span{
    color: white;
    
}
.per{
    margin-top: 30px;
    margin-left: 20px;
    font-weight: 600;
}
.partie-mauve{
    margin-top: 50px;
    padding-top: 10px;
   padding-bottom: 10px;
    background-color: #28023D;
   text-align: center;
}
.partie-mauve p{
    color: grey;
    margin-top: 30px;
}

