@media screen and ((max-width: 768px)){
    .section1{
        height: 78vh;
    }
.partie-jaune{
    display: flex;
    flex-direction: column;
}
footer{
    height: 700px;
}
.bande-orange{
    display: flex;
    width: 90%;
    flex-direction: column;
    height: 240px;
}
.bande{
    padding: 10px;
}
.section1 .button-orange button{
    position: relative;
   right: 35px;
}
.glob .carre-blanc{
    width: 90%;
    position: relative;
    top: 230px;
}
.img img{
    position: relative;
    top: -250px;
}
.section2 .place-gauche{
    margin-left: 10px;
}
.section2 .liens{
    margin-top: 20px;
    margin-bottom: 30px;
}
.section2 .mes-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 15px;
    border: 15px solid white;
}

.photo1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.photo2{
    grid-column: 1/3;
    grid-row: 2/4;
}
.photo3{
    grid-column: 1/3;
    grid-row: 4/5;
}
.photo4{
    grid-column: 1/2;
    grid-row: 5/6;
}
.photo5{
    grid-column: 2/3;
    grid-row: 5/6;
}
.photo6{
    grid-column: 1/3;
    grid-row: 6/7;
}
.photo7{
    grid-column: 1/3;
    grid-row: 7/8;
}
.photo8{
    grid-column: 1/3;
    grid-row: 8/10;
}
.photo9{
    grid-column: 1/3;
    grid-row: 10/12;
}
.photo10{
    grid-column: 1/2;
    grid-row: 12/13;
}
.photo11{
    grid-column: 2/3;
    grid-row: 12/13;
}

.section3 .place-gauche{
    margin-left: 10px;
}
.section3 .partie-haute .text{
    
    margin-top: 10%;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 10px;
}
.section3 .all{
    display: flex;
    flex-direction: column;
}
.section4{
    padding-top: 5px;
    padding-bottom: 10px;
    
    
}
.section4 .place-gauche{
    margin-left: 10px;
}
.section4 .place-droite{
    margin-top: 30px;
   margin-left: 10px; 
}

.section5 .place-gauche{
    margin-left: 5px;
    margin-top: 0px;
}
.section5 .text-plus-bar{
    margin-left: 0px; 
    margin-top: 20px;
}
.section5 .timeline{
    display: none;
}
footer{
    margin-top: 60vh;
}

}